/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

span.field-validation-error {
    color: red;
    font-weight: bold;
}

div.dt-buttons {
    position: relative;
    float: right;
}
.badge-error {
    background-color: #b94a48;
}

    .badge-error:hover {
        background-color: #953b39;
    }

.left_col {
    background: #123AB7;
}

.site_title{
    background-color:#ffffff;
}

.login_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #123AB7;
}

.login_content {
    padding: 0 0 0;
}

.bg{
    background-image:url("images/sky-background.jpg")
}

label, p {
    font-family: "Roboto", sans-serif;
    font-weight:100;
    color: #000;
}

.right_col{
        
    padding: 0;
    margin: 0;
}
.bg-img {
    background-image: url("images/post2.png");
    width:500px;
    height:500px;
}

.regbtn {
    float: left;
    background-color: #16bf46;
    color: #fff;
    border: 1px solid #123AB7;
}

.regbtn:hover {
        float: left;
        background-color: #123AB7;
        color: #fff;
        border: 1px solid #16bf46;
}

.tile-stats {
    background: #16bf46;
}